
body{
    margin:0;
	background-image:url('img/bikePic.png');
    background-size:cover;
    background-attachment: fixed;
    font-family: sans-serif;
    /* color:white; */
}
h1{
    padding-left:5%;
    font-size:3em;
    /* color:grey; */
    /* text-align:center; */
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    font-family: Georgia;
    
}
    
.selectSection{
    padding-bottom: 5%;
    padding-left:5%;
    font-size:3em;
    /* color:grey; */
    /* text-align:center; */
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    font-family: Georgia;
}
#selectText{
    font-size:3em;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    font-family: Georgia;
}
#results{
    padding-left:5%;
    color:#F8F3F6;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding-bottom: 5%;
    font-family: Georgia;
    font-size:2em;
}


#dropdownWarp{
    display: inline-block;
    margin:5%;
} 
#dropdown {
   
    padding-right:5%;   
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 2px rgb(204, 204, 204);
    position: relative;
    font-size: 14px;
    color: #474747;
   cursor: pointer;
    font-size: 100%;
}
#des_dropdown {
    padding-right:5%;   
    /* margin-right:5%; */
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 2px rgb(204, 204, 204);
    position: relative;
    font-size: 14px;
    color: #474747;
   cursor: pointer;
    font-size: 100%;


}

#dropdown:hover {
    box-shadow: 0 0 4px rgb(204, 204, 204)
}


#wrap{
    width:100%;
    padding:2%;
}
.chart{
    display: inline-block; /*display:inline block element*/
    margin:1.5%;
    padding:1%;
}

#divc{
    position:relative;
    width:100%;
    height:100%;
}

#cbg{
    position:absolute; /*position here*/
    background-color:black; 
    opacity:0.4;
    height:100%; 
/*reference https://stackoverflow.com/questions/5135019/css-opacity-only-to-background-color-not-the-text-on-it*/ 
    width:100%;
    z-index:-1;

}


#googlemap{
    margin-top:1%; 
    color:black;
    width:40%;
    height:50%;
    float:left;
    margin-left: 3%;
}
table{
    border-collapse:collapse;
    /*color:white;*/
    float:right;
    margin-right:5%;
}

th, td{
    height:50px;
}

table, th, td{
    margin-top:3%;
    border: none;
}

table{
    width:40%;
}

tr{
    border-bottom: solid 1px black
}

tbody>tr>:nth-child(1){
    text-align:left;
    padding-right:8px;   
    width:30%;
} 
    
tbody>tr>:nth-child(2){
    text-align:center;

} 
   
#Markerdropdown{
    margin-top:3%; 
    margin-left: 14%;
}