
body{
    margin:0;
	background-image:url('img/bikePic.png');
    background-size:cover;
    background-attachment: fixed;
    font-family: sans-serif;
    /* color:white; */
}
h1{
    padding-left:5%;
    font-size:3em;
    /* color:grey; */
    /* text-align:center; */
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    font-family: Georgia;
}
#dropdownWarp{
    display: inline-block;
} 
#dropdown {
    padding-right:8px;   
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 2px rgb(204, 204, 204);
    position: relative;
    font-size: 14px;
    color: #474747;
   cursor: pointer;
    font-size: 100%;


}

#dropdown:hover {
    box-shadow: 0 0 4px rgb(204, 204, 204)
}


#wrap{
    width:100%;
    padding:2%;
}
.chart{
    display: inline-block; /*display:inline block element*/
    /* background-color: #E8E7E7; */
    /* height:70%;
    width:29%;  */
    margin:1.5%;
    padding:1%;

}

#divc{
    position:relative;
    width:100%;
    height:100%;
    /* padding:5%; */
    
}

#cbg{
    position:absolute; /*position here*/
    background-color:black; 
    opacity:0.4;
    height:80%; 
/*reference https://stackoverflow.com/questions/5135019/css-opacity-only-to-background-color-not-the-text-on-it*/ 
    width:100%;
    z-index:-1;
}

#allInfo{
    color:#E8E7E7;
    /* float:right; */
     padding:3%; 
    padding-bottom: 10%;
    margin-top:3%;   
}
#googlemap{
    color:black;
    width:45%;
    height:50%;
    float:left;
    margin-bottom: 10%;
    padding:5%; 
}
table{
    border-collapse:collapse;
    color:white;
    float:right;
}

th, td{
    height:50px;
}

table, th, td{
    margin-top:5%;
    border: none;
}

table{
    width:40%;
}

tr{
    border-bottom: solid 1px black
}

tbody>tr>:nth-child(1){
    text-align:left;
    padding-right:8px;   
    width:30%;
} 
    
tbody>tr>:nth-child(2){
    text-align:center;

} 
   
