
body{
    margin:0;
	background-image:url('img/bikePic.png');
    background-size:cover;
    background-attachment: fixed;
    font-family: sans-serif;
    /* color:white; */
}
h1{
    padding-left:5%;
    font-size:3em;
    /* color:grey; */
    /* text-align:center; */
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    font-family: Georgia;
    
}
    
.selectSection{
    padding-bottom: 5%;
    padding-left:5%;
    font-size:3em;
    /* color:grey; */
    /* text-align:center; */
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    font-family: Georgia;
}
#selectText{
    font-size:3em;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    font-family: Georgia;
}
#results{
    padding-left:5%;
    color:#F8F3F6;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding-bottom: 5%;
    font-family: Georgia;
    font-size:2em;
}


#dropdownWarp{
    display: inline-block;
    margin:5%;
} 
#dropdown {
   
    padding-right:5%;   
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 2px rgb(204, 204, 204);
    position: relative;
    font-size: 14px;
    color: #474747;
   cursor: pointer;
    font-size: 100%;
}
#des_dropdown {
    padding-right:5%;   
    /* margin-right:5%; */
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 2px rgb(204, 204, 204);
    position: relative;
    font-size: 14px;
    color: #474747;
   cursor: pointer;
    font-size: 100%;


}

#dropdown:hover {
    box-shadow: 0 0 4px rgb(204, 204, 204)
}


#wrap{
    width:100%;
    padding:2%;
}
.chart{
    display: inline-block; /*display:inline block element*/
    margin:1.5%;
    padding:1%;
}

#divc{
    position:relative;
    width:100%;
    height:100%;
}

#cbg{
    position:absolute; /*position here*/
    background-color:black; 
    opacity:0.4;
    height:110%; 
/*reference https://stackoverflow.com/questions/5135019/css-opacity-only-to-background-color-not-the-text-on-it*/ 
    width:100%;
    z-index:-1;

}


#googlemap{
    margin-top:1%; 
    color:black;
    width:40%;
    height:50%;
    float:left;
    margin-left: 3%;
}
table{
    border-collapse:collapse;
    float:right;
    margin-right:5%;
    color:white;
}

th, td{
    height:50px;
}

table, th, td{
    margin-top:3%;
    border: none;
}

table{
    width:40%;
}

tr{
    border-bottom: solid 1px grey;
}

tbody>tr>:nth-child(1){
    text-align:left;
    padding-right:8px;   
    width:30%;
} 
    
tbody>tr>:nth-child(2){
    text-align:center;

} 
   
#Markerdropdown{

    margin-top:2%; 
    margin-left: 10%;
}

/* reference of loader: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_loader5 */
#Myloader {
    position: absolute;
    width: 132px;
    height: 132px;
    left: 50%;
    top: 50%;
    z-index: 1;
    margin: -75px 0 0 -75px;
    border: 16px solid #534f4f69;
    border-radius: 48%;
    border-top: 16px solid #2979af;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  /* Add animation to the apge */
  .Pageanimation {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  } 
  
  #ActualDiv {
    display: none;
    text-align: center;
  }